extends ../partials/layout.pug

block metatags
  -var title = 'Maratones'
  -var description = 'Bienvenid@, en este sitio encontrarás infromación sobre el maravillosos mundo de los Maratones'
  title= title
  meta(name="description", content=description)

block content
  -var menu = [ ['index','Inicio'], ['acerca','Acerca'], ['maratones','Maratones'], ['galeria','Galería'], ['contacto','Contacto'] ]
  header.Header
    section.Header-container
      h1.Logo
        a.Logo-link(href="./")= title
      div.Panel-button
        button.hamburger.hamburger--vortex(type='button')
          span.hamburger-box
            span.hamburger-inner
      article.Panel
        nav.Menu
          ul.Menu-listItem
            each item in menu
              li.Menu-item
                a.Menu-link(href=`./${item[0]}.html`)= item[1]