extends ../partials/layout.pug

block metatags
  -var title = 'Maratones'
  -var description = 'Bienvenid@, en este sitio encontrarás infromación sobre el maravillosos mundo de los Maratones'
  title= title
  meta(name="description", content=description)

block content
  include ../partials/components/navigation.pug
  article.Home.u-after-fixed
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat atque rerum voluptate quam obcaecati iusto maxime, unde laboriosam ratione debitis culpa saepe ab, hic voluptatum dolores laudantium. Esse, rem, magni.