-var tabs = [ ['Pesta単a1', 'Contenido1', true], ['Pesta単a2', 'Contenido2', false], ['Pesta単a3', 'Contenido3', false], ['Pesta単a4', 'Contenido4', false] ]
article#tabs.Tabs
  //-Comentario en Pug
  //Comentario que compilara al HTML
  each tab, index in tabs
    if ( tab[2] )
      input(type="radio", name="tabs", id=`toggle-tab-${index}`, checked)
    else
      input(type="radio", name="tabs", id=`toggle-tab-${index}`)
    label(for=`toggle-tab-${index}`)= tab[0]
  each tab, index in tabs
    div(id=`tab-${index}`).Tabs-content= tab[1]