$tabs: 4;
$tab-color: #000;
$tab-bg:   #E9E9E9;
$label-bg: #171226;
$label-color: #0096D9;
$label-bg-hover: rgba(23, 18, 38, .75);
$label-color-hover: #FFF;
$content-height: 50vh;

.Tabs {
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & input[type="radio"] { display:none; }

  & label {
    width: (100%/$tabs) - .25%;
    height: 3rem;
    padding: 1rem .25rem;
    text-align: center;
    font: {
      size: .75rem;
      weight: bold;
    }
    cursor: pointer;
    border-radius: .5rem .5rem 0 0;
    background-color: $label-bg;
    color: $label-color;
    transition: background-color .3s;

    @media screen and (min-width: 64em) {
      padding: 1rem 1.25rem;
      font-size: 1rem;
    }
  }

  & label:hover{
    background-color: $label-bg-hover;
    color: $label-color-hover;
  }

  &-content {
    display: none;
    padding: 1rem;
    width: 100%;
    min-height: $content-height;
    color: $tab-color;
    background-color: $tab-bg;
  }
}

@for $i from 0 through ($tabs - 1) {
  #toggle-tab-#{$i}:checked ~ label[for="toggle-tab-#{$i}"] {
    padding-bottom: -.25rem;
    cursor: default;
    color: $tab-color;
    background-color:$tab-bg;
  }

  #toggle-tab-#{$i}:checked ~ #tab-#{$i} {
    display: block;
  }
}


