@import 'https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.8.1/hamburgers.min.css';

@import 'components/box-sizing';

$header-bg: rgba(23, 18, 38, .9);
$header-color: #FFF;
$header-height: 4rem;
$header-container-width: 1200px;
$logo-url: '../img/marathons-logo.svg';
$logo-width-mobile: 4rem;
$logo-width-desktop: 10%;
$logo-height: 4rem;
$logo-bg-size: 3.5rem;
$logo-top: 0;
$panel-width-mobile: 100%;
$panel-width-desktop: 90%;
$hamburger-color: #0096D9;
$bg-transparent: transparent;

@mixin logo-x-position($pos, $logo: null) {
  @if $pos == left {
    left: 0;
  } @else if $pos == right {
    right: 0;
  } @else if $pos == center {
    left: calc(50% - #{$logo/2});
  }
}

.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before { background-color: $hamburger-color; }

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100%;
  height: $header-height;
  background-color: $header-bg;
  color: $header-color;
  
  &-container {
    margin: auto;
    max-width: $header-container-width;
  }
}

.Logo {
  position: fixed;
  top: $logo-top;
  @include logo-x-position(center, $logo-width-mobile); // left | right | center
  z-index: 998;

  &-link {
    display: block;
    width: $logo-width-mobile;
    height: $logo-height;
    text-indent: -9999px;
    background: {
      image: url($logo-url);
      size: $logo-bg-size;
      repeat: no-repeat;
      position: center;
    }
  }
}

.Panel {
  position: fixed;
  left: 0;
  top: $header-height;
  z-index: 996;
  background-color: $header-bg;
  max-width: 0;
  max-height: 100%;
  overflow: hidden;
  transform: translateX(-100vw);
  transition: all .3s ease-out;

  &.is-active {
   max-width: 100vw;
   overflow-y: auto;
   transform: translateX(0);
  }

  &-button {
    position: fixed;
    top: 0;
    @include logo-x-position(left);
    z-index: 999;
  }
}

.Menu {
  width: 100vw;

  &-listItem {
    border-top: thin solid $hamburger-color;
    list-style-type: none;
    text-align: center;
  }

  &-item { border-bottom: thin solid $hamburger-color; }

  &-link {
    display: block;
    padding: 1rem;
    font-weight: bold;
    color: $hamburger-color;
    transition: all .3s ease-out;
  }

  &-link:hover {
    background-color: $hamburger-color;
    color: $header-color;
  }
}

.u-after-fixed { padding-top: $header-height; }

@media screen and (min-width: 64em) {
  .Header {
    &-container {
      display: flex;
    }
  }

  .Logo {
    position: static;
    width: $logo-width-desktop;
  }

  .Panel {
    position: static;
    width: $panel-width-desktop;
    max-width: none;
    overflow: visible;

    transition: none;
    transform: translateX(0);

    &-button { display: none; }
  }
}