//variables en sass
$black: #000;
$navy: navy;
$white: #FFF;

html {
  box-sizing: border-box;
  background-color: $navy;
  color: $white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $white;

  &:hover {
    color: $black;
  }
}
