extends ../partials/layout.pug

block metatags
  -var title = 'Ponte en Contacto'
  -var description = 'Te gusto este sitio, tus comentarios nos interesan'
  title= title
  meta(name="description", content=description)
block content
  div.u-after-fixed
    h1= title
    p= description