extends ../partials/layout.pug

block metatags
  -var title = 'Galeria de Maratones'
  -var description = 'En esta sección encontrarás fotos de los maratones más importantes del mundo'
  title= title
  meta(name="description", content=description)
block content
  div.u-after-fixed
    h1= title
    p= description