extends ../partials/layout.pug

block metatags
  -var title = 'Los Maratones más importantes del mundo'
  -var description = 'En esta sección te mostraremos los 6 maratones más importantes del mundo'
  title= title
  meta(name="description", content=description)
block content
  div.u-after-fixed
    h1= title
    p= description