doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="./css/style.css")
  title Document
body
  h1 Titulo
  h2 Hola
  p para la siguiente sesion estudia la sintaxis de:
  -var estudiar = [['pug', 'https://pugjs.org/api/getting-started.html'], ['sass', 'http://sass-lang.com/guide'], ['es6', 'https://github.com/jonmircha/adm06/blob/master/teoria-es6.md']]
  ul
    each elemento in estudiar
      li
        a(href=`${elemento[1]}` target="_blank")= elemento[0]
  -var estaciones = ['Primavera', 'Verano', 'Otoño', 'Invierno']
  ul
    each estacion in estaciones
      li= estacion
  p 
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda asperiores ad laudantium dolor, quo minima, minus ducimus aliquid ullam, praesentium voluptate! Quo corporis dolorem, id aliquam incidunt nemo minima, voluptatibus.
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur maxime, accusantium explicabo! Porro laudantium atque beatae rem, similique mollitia perspiciatis nostrum molestias. Totam quaerat animi laudantium enim consequuntur, quae assumenda?
  script.
    //alert('Hola Mundo con Pug y Sass')
  script(src="./js/script.js")
  